.new-note {
  height: auto;
  align-items: center;
}

textarea[name="title"] {
  background-color: antiquewhite;
  border: hidden;
  align-items: center;
  width: 70%;
  /* height: 50px; */
  margin-left: 15%;
  margin-right: 15%;
}

textarea[name="note-text"] {
  background-color: antiquewhite;
  border: hidden;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
}
