.new-note {
  height: 70%;
  width: 99%;
  align-items: center;
}

.title {
  background-color: antiquewhite;
  border: hidden;
  align-items: center;
  width: 70%;
  height: 22px;
  margin-left: 15%;
  margin-right: 15%;
  outline: none;
}

textarea[name="note-text"] {
  background-color: antiquewhite;
  border: hidden;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 80vh;
  min-height: 400px;
  /* overflow-y: hidden; */
  resize: none;
  outline: none;
}
