.dropdown {
  background-color: #11111b;
}

.dropdown-button {
  background-color: #11111b;
  color: #cdd6f4;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: none;
}

.dropdown-button:hover {
  background-color: #313244;
}

.dropdown-add-main {
  height: 350px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.dropdown-add-new-category {
  margin-top: 5px;
  width: 95%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.dropdown-add-input {
  width: 95%;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #313244;
  color: #cdd6f4;
  outline: none;
}

.dropdown-add-button {
  width: 50%;
  height: 29px;
  color: #11111b;
  border-radius: 7px;
  background-color: #cba6f7;
}

::placeholder {
  color: #cdd6f4;
}

.dropdown-category-list {
  width: 95%;
  height: 65%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown-category-container {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.dropdown-category-container:hover {
  background-color: #313244;
  .dropdown-category-hashtag {
    background-color: #11111b;
  }
}

.dropdown-category-hashtag {
  width: 31px;
  height: 28px;
  text-align: center;
  font-size: larger;
  padding-top: 4px;
  background-color: #313244;
  border-radius: 50%;
  margin-left: 3px;
}

.dropdown-category-name {
  width: 152px;
  background: none;
  height: 28px;
  display: flex;
  font-size: medium;
  overflow: hidden;
  align-items: center;
  text-overflow: clip;
}
