.new-note {
  height: 70%;
  width: 99%;
  align-items: center;
}

.head {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  background-color: #f5e0dc;
  color: #11111b;
  border: hidden;
  outline: none;
}

textarea[name="note-text"] {
  background-color: #f5e0dc;
  color: #11111b;
  border: hidden;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 80vh;
  min-height: 400px;
  overflow: auto;
  resize: none;
  outline: none;
}
