.sidebar-new-note {
  background-color: #11111b;
  display: flex;
  color: #cdd6f4;
  width: 100px;
  height: 50px;
  border: none;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.sidebar-new-note:hover {
  background-color: #313244;
}
