.box {
  /* background-color:	#cba6f7		; */

  border-style: solid;
  border-radius: 15px;
  width: 215px;
  height: 215px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden; /* Hide content that overflows the box */
  margin: 20px;
  text-align: center;
  /* flex-wrap: true; */
  /* justify-content: space-between; */
}

.title-text {
  text-align: center;
  margin: 4px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;

  width: auto;
  /* background-color: #f2cdcd; */
  color: #cdd6f4		;
}

.note-text {
  width: 210px;
  /* background-color: #f2cdcd; */
  color: #94e2d5		;
}

.created-at {
  width: auto;
  /* background-color: #f2cdcd; */
  color: #cdd6f4	;
  margin-top: auto;
  margin-left: auto;
  margin-right: 5px;

  margin-bottom: 2px;
  text-align: center;
}
